@model BooksOnline.Models.Wishlist

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/Layout_Foundation.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <body>
        <div class="row column">
            <div class="container">
                <div class="form-header">
                    <h2>Do you want to remove this book from your wishlist? </h2>
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)

                <table class="table" style="width:100%;">
                    <tbody>
                        <tr>
                            <td style="text-align:center;">
                                @Html.DisplayNameFor(model => model.ID)
                            </td>
                            <td style="text-align:left">
                                @Html.DisplayFor(model => model.ID)
                            </td>
                            <td style="text-align:left">
                                @Html.DisplayFor(model => model.BookID)
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:center">
                                @Html.DisplayNameFor(model => model.BookID)
                            </td>
                            <td style="text-align:left">
                                @Html.DisplayFor(model => model.UserID)
                            </td>
                            <td style="text-align:left">
                                @Html.DisplayFor(model => model.UserID)
                            </td>
                        </tr> 
                    </tbody>
                </table>
                <div class="row form-actions no-color" style="margin: 20px auto">
                    <input type="submit" value="Delete" class="btnSubmit" />
                </div>
                <div>
                    @Html.ActionLink("Wishlist", "Wishlist","Books")
                </div>
            </div>
        </div>
    </body>
}



