@using System.Linq
@model IEnumerable<BooksOnline.Models.Wishlist>

@{
    ViewBag.Title = "WishlistAlert";
    Layout = "~/Views/Shared/Layout_Foundation.cshtml";
}

<div class="row column">
    <div class="container">
        <div class="form-header">
            <h2>Users Wishlist: Approved Notification by Email List</h2>
        </div>
        <table class="table" style="width:100%;">
            <tr>

                <th>
                    Wishlist ID
                </th>
                <th>
                    User ID
                </th>
                <th>
                    Book ID
                </th>
                <th>
                    Username
                </th>
                <th>
                    Email
                </th>
                <th>
                    Notification
                </th>
                <th></th>
            </tr>

            @foreach (var item in ViewBag.Wishlist)
            {
                foreach (var value in ViewBag.Users)
                {
                    if (item.UserID == value.id)
                    {
                        <tr>
                            <td>
                                @item.ID
                            </td>
                            <td>
                                @item.UserID
                            </td>
                            <td>
                                @item.BookID
                            </td>
                            <td>
                                @value.FirstName @value.LastName
                            </td>
                            <td>
                                @value.Email
                            </td>
                            <td>
                                @item.Notification
                            </td>
                            <td>
                        </tr>
                    }
                }
            }

        </table>
        <p>
            <button class="btnExtended" style="width:250px;">@Html.ActionLink("Send Wishlist Update", "SendWishlistEmail")</button>
        </p>
        @{
            if (ViewBag.Message != null)
            {
                <span>@ViewBag.Message</span>
            }
        }
    </div>
</div>
