@using BooksOnline.Helpers;
@model IEnumerable<BooksOnline.Models.Recommendation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout_Foundation.cshtml";
}
@{ 
    BooksOnline.Helpers.Recommendations r = new BooksOnline.Helpers.Recommendations();
}
    <div class="row column">
        <img src="~/images/recbanner1.jpg" style="width:100%">
    </div><br />
              <div class="row column text-center">
                  @{
                      string now = DateTime.Now.ToString("dd/MM/yyyy");
                      var splitnow = now.Split('-');
                      string monthnow = splitnow[1];
                      string yearnow = splitnow[2];
                      string monthprint = r.GetMonth(monthnow);

                  }
                      <h2 style="margin:20px 0px 40px 0px">The Top Pics @monthprint of @yearnow.</h2>
                  </div>
        <div class="row small-up-2 large-up-5">

            @foreach (var item in Model)
            {
                string date = item.date;
                var split = date.Split('-');
                string month = split[1];
                string year = split[2];


                if (year.Equals(yearnow) && month.Equals(monthnow))
                {
                    
                    foreach (var value in ViewBag.Pictures)
                    {
                        if (item.BookID == value.BookID)
                        {
                            <div class="column">
                                @{
                                    string path = value.path;
                                    string newpath = path.TrimStart('~');
                                }
                                @*Recommendation list Category different of Book Subjects for the purpose of demonstration 
                                    as database size is too small.*@
                                @*<h5 style="text-align:center;font-size:18px">@item.Book.Subject</h5><br />*@
                                @if ((item.Category.Equals("Year")) || (item.Category.Equals("Week")) || (item.Category.Equals("Decade")) || (item.Category.Equals("Month")))
                                {
                                    <h5 style="text-align:center;font-weight:bold;">Best of the @item.Category</h5><br />
                                }
                                else
                                {
                                    <h5 style="text-align:center;font-weight:bold;">Best @item.Category</h5><br />
                                }
                                    <img src="@newpath" style="float:right; margin-bottom:20px;width:100%;" alt="@value.title">
                                
                                <h5 style="text-align:center;font-size:18px">@item.Book.Title</h5><br />

                                <button class="btnExtended">@Html.ActionLink("Reserve", "Details", "booksOwn", new { id = item.Book.ID }, null)</button>
                                <button class="btnExtended" style="color:black">@Html.ActionLink("Check Details", "Index", "Books", new { search = @item.Book.Title, filter = "title" }, null)</button>
                            </div>

                        }

                    }

                }
            }
            <br />
            </div>

            <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
            <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
            <script>
                $(document).foundation();
            </script>
           
